.filter {
    margin: 100px 0px 400px 100px;
    font-family: sans-serif;
}
.anim-list li {
    width: 198px;
    border: 1px solid lightgrey;
    text-align: center;
}
.value,
.anim-list li {
    margin-bottom: 5px;
}
